html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Sometype Mono";
  background-color: #ebe3d6;
}

header {
  width: 100%;
  height: 100px;
  background-color: #1f2b39;
  display: inline-flex;
  align-items: center;
  font-size: 64px;
  justify-content: center;
}

.container {
  display: flex;
  min-height: calc(100% - 100px);
}

.block:nth-child(1) {
  background-image: url(images/login_image.png);
  background-size: 100% auto;
  display: inline-block;
  width: 40%;
}

.block:nth-child(2) {
  align-items: center;
  font-size: 48px;
  justify-content: center;
  color: black;
}

::-webkit-scrollbar {
  width: 0;
}

.supblock {
  width: 615px;
  height: 70px;
  background-color: rgb(80, 247, 247);
  border-radius: 10px;
}

input[type="text"],
select {
  position: relative;
  margin: 0;
  padding: 0;
  top: -5px;
  width: 615px;
  height: 70px;
  background-color: rgb(66, 72, 72);
  border-radius: 10px;
  box-sizing: border-box;
}
