<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DYREKTOR</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style-dyrektor.css" />
  </head>
  <header>
    <a href="/dyrektor/akademiki"><div class="back"></div></a>
    <div class="head">DYREKTOR - EDYTOWANIE AKADEMIKA</div>
    <a href="/"><div class="wyloguj"></div></a>
  </header>
  <body>
    <div class="page">
      <form action="/dyrektor/akademiki/edytuj/{{ akademik.SymbolA }}" method="post" onsubmit="return validateForm()">
        <script>
          function validateForm() {
            // Reset styles and error messages
            resetStyles();
    
            // Get form inputs
            var symbol = document.forms[0]["symbol"].value.trim();
            var akademiki_json = {{ akademiki | tojson }};
            

            // Flag to check if the form is valid
            var isValid = true;

            if (symbol === "") {
              addErrorStyles("symbol");
              alert("Symbol nie może być pusty.");
              isValid = false;
            }

            // Check if akademiki already contains symbol
            if (akademiki_json.includes(symbol) && symbol != "{{ akademik.SymbolA }}") {
              addErrorStyles("symbol");
              alert("Symbol już istnieje.");
              isValid = false;
            }
    
            // Return false to prevent form submission if validation fails
            return isValid;
          }
    
            // Helper function to add error styles
            function addErrorStyles(fieldName) {
              var inputField = document.forms[0][fieldName];
              inputField.style.border = "2px solid red";
            }
    
            // Helper function to reset styles
            function resetStyles() {
              var inputFields = document.forms[0].getElementsByTagName("input");
              for (var i = 0; i < inputFields.length; i++) {
                inputFields[i].style.border = "";
              }
            }
        </script>

        <div class="container">
          <div class="label">Symbol</div>
          <input type="text" name="symbol" value="{{ akademik.SymbolA }}" disabled>
        </div>
        <div class="container">
          <div class="label">Nazwa</div>
          <input type="text" name="nazwa" value="{{ akademik.NazwaA if akademik.NazwaA is not none else "" }}">
        </div>
        <div class="container">
          <div class="label">Liczba pokoi</div>
          <input type="number" name="liczba_pokoi" value="{{ akademik.LiczbaPokoi if akademik.LiczbaPokoi is not none else "" }}">
        </div>
        <div class="container">
          <div class="label">Status</div>
          <select name="status">
            {% for status_option in status_options %}
            <option value="{{ status_option }}" {% if status_option == akademik.Status %} selected {% endif %}>{{ status_option }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="container">
          <div class="label">Adres</div>
          <input type="text" name="adres" value="{{ akademik.Adres if akademik.Adres is not none else "" }}">
        </div>
        <!-- edit kierownicy, uwagi -->
        <div class="container">
          <div class="label">Kierownicy</div>
          <select name="kierownik" class="choose_con">
            <option value="">Brak</option>
            {% for kierownik in kierownicy %}
            <option value="{{ kierownik.IdP }}" {% if kierownik.IdA == akademik.SymbolA %} selected {% endif %}>{{ kierownik.IdP }} {{ kierownik.Imie }} {{ kierownik.Nazwisko }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="container">
          <div class="label">Uwagi</div>
          <input type="text" name="uwagi" value="{{ akademik.Uwagi if akademik.Uwagi is not none else "" }}">
        </div>
        <button class="btnAdd" style="margin-top: 50px;">Edytuj akademik</button>
      </form>
    </div>
  </body>
</html>
