<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DYREKTOR</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style-dyrektor.css" />
  </head>
  <header>
    <a href="/dyrektor/pracownicy"><div class="back"></div></a>
    <div class="head">DYREKTOR - DODAWANIE PRACOWNIKA</div>
    <a href="/"><div class="wyloguj"></div></a>
  </header>
  <body>
    <div class="page">
      <form action="">
        <div class="container">
          <div class="label">Nazwisko</div>
          <input type="text" placeholder="Wpisz Nazwisko">
        </div>
        <div class="container">
          <div class="label">Imię</div>
          <input type="text" placeholder="Wpisz Imię">
        </div>
        <div class="container">
          <div class="label">Stanowisko</div>
          <input type="text" placeholder="Wpisz Stanowisko">
        </div>
        <div class="container">
          <div class="label">Data urodzenia</div>
          <input type="text" placeholder="Wpisz Data urodzenia">
        </div>
        <div class="container">
          <div class="label">Data zatrudnienia</div>
          <input type="text" placeholder="Wpisz Data zatrudnienia">
        </div>
        <div class="container">
          <div class="label">Data zwolnienia</div>
          <input type="text" placeholder="Wpisz Data zwolnienia">
        </div>
        <div class="container">
          <div class="label">Pensja</div>
          <input type="text" placeholder="Wpisz Pensja">
        </div>
        <div class="container">
          <div class="label">Etat</div>
          <input type="text" placeholder="Wpisz Etat">
        </div>
        <div class="container">
          <div class="label">Telefon</div>
          <input type="text" placeholder="Wpisz Telefon">
        </div>
        <div class="container">
          <div class="label">E-mail</div>
          <input type="text" placeholder="Wpisz E-mail">
        </div>
        <div class="container">
          <div class="label">Login</div>
          <input type="text" placeholder="Wpisz Login">
        </div>
        <div class="container">
          <div class="label">Hasło</div>
          <input type="text" placeholder="Wpisz Hasło">
        </div>
        <div class="container">
          <div class="label">Pensja</div>
          <input type="text" placeholder="Wpisz Pensja">
        </div>
        <button class="btnAdd" style="margin-top: 50px;">Dodaj pracownikak</button>
      </form>
    </div>
  </body>
</html>
