<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DYREKTOR</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style-dyrektor.css" />
  </head>
  <header>
    <a href="/dyrektor/akademiki"><div class="back"></div></a>
    <div class="head">DYREKTOR - DODAWANIE AKADEMIKA</div>
    <a href="/"><div class="wyloguj"></div></a>
  </header>
  <body>
    <div class="page">
      <form action="">
        <div class="container">
          <div class="label">Symbol</div>
          <input type="text" placeholder="Wpisz Symbol">
        </div>
        <div class="container">
          <div class="label">Nazwa</div>
          <input type="text" placeholder="Wpisz Nazwa">
        </div>
        <div class="container">
          <div class="label">Liczba pokoi</div>
          <input type="text" placeholder="Wpisz Liczba pokoi">
        </div>
        <div class="container">
          <div class="label">Status</div>
          <input type="text" placeholder="Wpisz Status">
        </div>
        <div class="container">
          <div class="label">Adres</div>
          <input type="text" placeholder="Wpisz Adres">
        </div>
        <div class="container">
          <div class="label">Kierownicy</div>
          <input type="text" placeholder="Wpisz Kierownicy">
        </div>
        <div class="container">
          <div class="label">Uwagi</div>
          <input type="text" placeholder="Wpisz Uwagi">
        </div>
        <button class="btnAdd" style="margin-top: 50px;">Dodaj akademik</button>
      </form>
    </div>
  </body>
</html>
