<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KIEROWNIK</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style-kierownik.css" />
  </head>
  <header>
    <a href=""><div class="empty"></div></a>
    <div class="head">KIEROWNIK</div>
    <a href="/"><div class="wyloguj"></div></a>
  </header>
  <body>
    <div class="container">
      <a href="/kierownik/studenci" class="block">Studenci</a>
      <a href="/kierownik/akademik_pracownicy" class="block">Akademik <br>&<br> Pracownicy</a>
    </div>
  </body>
</html>
