<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KIEROWNIK</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/style-kierownik.css" />
  </head>
  <header>
    <a href="kierownik_studenci.html"><div class="back"></div></a>
    <div class="head">KIEROWNIK - DODAWANIE STUDENTÓW</div>
    <a href="index.html"><div class="wyloguj"></div></a>
  </header>
  <body>
    <div class="page">
      <form action="">
          <div class="container">
            <div class="label">Nazwisko</div>
            <input type="text" placeholder="Wpisz Nazwisko">
          </div>
          <div class="container">
            <div class="label">Imie</div>
            <input type="text" placeholder="Wpisz Imie">
          </div>
          <div class="container">
            <div class="label">NR albumu</div>
            <input type="text" placeholder="Wpisz NR albumu">
          </div>
          <div class="container">
            <div class="label">Telefon</div>
            <input type="text" placeholder="Wpisz Telefon">
          </div>
          <div class="container">
            <div class="label">E-mail</div>
            <input type="text" placeholder="Wpisz E-mail">
          </div>
          <div class="container">
            <div class="label">Uwagi</div>
            <input type="text" placeholder="Wpisz Uwagi">
          </div>
          <button class="btnAdd" style="margin-top: 50px;">Dodaj studenta</button>
        </form>
      </div>
  </body>
</html>
