<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KIEROWNIK</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static\style-kierownik.css" />
  </head>
  <header>
    <a href="kierownik.html"><div class="back"></div></a>
    <div class="head">KIEROWNIK - STUDENCI</div>
    <a href="index.html"><div class="wyloguj"></div></a>
  </header>
  <body>
    <div class="page">
      WYSZUKAJ STUDENTA
      <form>
        <input type="text" placeholder="WPISZ NAZWISKO"><br>
        <input type="button" value="Szukaj">
        <input type="button" value="Resetuj">
      </form>

      <div class="table">
        <table>
          <tr>
            <th><div class="container"><div class="text">#</div><div class="sort"></div></div></th>
            <th><div class="container"><div class="text">Nazwisko</div><div class="sort"></div></div></th>
            <th><div class="container"><div class="text">Imię</div><div class="sort"></div></div></th>
            <th><div class="container"><div class="text">Pokój</div><div class="sort"></div></div></th>
            <th><div class="container"><div class="text">NR albumu</div><div class="sort"></div></div></th>
            <th><div class="container"><div class="text">Uwagi</div><div class="sort"></div></div></th>
          </tr>
        </table>
      </div>

      <a href="kierownik_dodawanie_studentow.html"><div class="btnAdd">Dodaj studenta</div></a>
    </div>
  </body>
</html>
