<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PORTIER</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static\style-portier.css" />
  </head>
  <header>
    <a href="portier_usterki.html"><div class="back"></div></a>
    <div class="head">PORTIER - DODAWANIE USTERKI</div>
    <a href="index.html"><div class="wyloguj"></div></a>
  </header>
  <body>
    <div class="page">
      <form action="">
          <div class="container">
            <div class="label">Akademik</div>
            <input type="text" placeholder="Wpisz Akademik">
          </div>
          <div class="container">
            <div class="label">Pokój</div>
            <input type="text" placeholder="Wpisz Pokój">
          </div>
          <div class="container">
            <div class="label">Data zgłoszenia</div>
            <input type="text" placeholder="Wpisz Data zgłoszenia">
          </div>
          <div class="container">
            <div class="label">Opis</div>
            <input type="text" placeholder="Wpisz Opis">
          </div>
          <button class="btnAdd" style="margin-top: 50px;">Dodaj usterkę</button>
        </form>
      </div>
  </body>
</html>
